// Place all the styles related to the publics::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre_name_button{
	background-color: transparent;
	border: none;
}
.genre_name_button:hover{
	color: #ddd;
}
