<div class="col-xs-12">
<div class="title">
<h1>About</h1>
	<p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
		お子様からお年寄りの方までお召し上がりいただけるよう、<br>
		様々なバリエーションをご用意しておりまます。<br>
		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		ぜひご注文ください。</p>
</div>
</div>
<div clas="">
	<%=image_tag "img580_19cut_0401.jpg", class:'col-xs-4' %>
	<%=image_tag"20180622122559.jpg", class:'col-xs-4' %>
	<%=image_tag "12201115_5c1afb59e4f76.jpg",class:'col-xs-4' %>
</div>
