<% if item.genre.is_active == true %>
  <div class="col-lg-4 item-box space">
    <%= link_to item_path(item.id) do %>
      <div class="row">
        <!-- fallbackの画像は現在未設定 -->
        <%= attachment_image_tag(item, :image, :fill, 100, 100, fallback: '#') %>
      </div>
      <div class="row">
        <h4><%= item.name %></h4>
      </div>
      <div class="row">
        <% if item.is_active == true %>
          <h4>￥<%= item.price.to_s(:delimited) %></h4>
        <% else %>
          <h4>売り切れ中</h4>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
